---
site-layout: site-layout--default-inverse
---

<!-- Content
================================================== -->
{{#each content.staff}}
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<figure class="page-thumbnail page-thumbnail--default">
				<img src="assets/img/samples/staff-member-lg-1.jpg" alt="">
			</figure>
			<div class="staff-member staff-member--single">
				<div class="staff-member__body">
					<div class="staff-member__position">{{position}}</div>
					<h2 class="staff-member__title h3">{{title}}</h2>
					<ul class="staff-member__meta list-unstyled">
						<li class="staff-member__meta-item"><span>Idade</span>{{age}} anos</li>
						<li class="staff-member__meta-item"><span>Ingressou</span>{{joined}}</li>
						<li class="staff-member__meta-item"><span>País</span>{{country}}</li>
						<li class="staff-member__meta-item"><span>Estado</span>{{state}}</li>
					</ul>
					<div class="staff-member__content">
						<h5>Biografia</h5>
						<p>{{excerpt}}</p>
						<div class="spacer-sm"></div>
						<h5>Carreira</h5>
						<ul class="list">
							{{#each career}}
							<li>{{position}} em <a href="#"><strong>{{where}}</strong></a> ({{when}})</li>
							{{/each}}
						</ul>

					</div>
					<ul class="social-menu social-menu--links">
						{{#each socials}}
						<li><a href="{{link}}"></a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
{{/each}}
