<!-- Header
================================================== -->
<header id="header" class="site-header {{#if site-header}}{{site-header}}{{else}}site-header--bottom{{/if}}">

	<!-- Logo - Image Based -->
	<div class="header-logo header-logo--img">
		<a href="index.html"><img src="{{../root}}assets/img/logo.png" srcset="{{../root}}assets/img/logo@2x.png 2x" alt="{{global.site-name}}"></a>
	</div>
	<!-- Logo - Image Based / End -->

	{{!-- <!-- Logo - Text Based -->
	<div class="header-logo header-logo--txt">
		<a href="index.html" class="header-logo__inner">
			<h1 class="header-logo__heading">{{{global.logo-txt}}}</h1>
			<span class="header-logo__tagline">{{global.tagline}}</span>
		</a>
	</div>
	<!-- Logo - Text Based / End --> --}}

	{{> _main-navigation }}

	<!-- Header Actions -->
	<div class="header-actions">
		{{#ifpage 'team-overview-2' }}
			<div class="header-pagination">
				<a href="#" class="header-scroll-arrow header-scroll-arrow--left js-team-player__nav-prev">
					<svg role="img" class="df-icon df-icon--left-arrow">
						<use xlink:href="assets/img/necromancers.svg#left-arrow"/>
					</svg>
				</a>
				<a href="#" class="header-scroll-arrow header-scroll-arrow--right js-team-player__nav-next">
					<svg role="img" class="df-icon df-icon--right-arrow">
						<use xlink:href="assets/img/necromancers.svg#right-arrow"/>
					</svg>
				</a>
			</div>
		{{/ifpage}}
		
		{{#ifpage 'team-selection-1' }}
			<div class="header-pagination mr-0">
				<a href="#" class="header-scroll-arrow header-scroll-arrow--left js-team-selection-slider__nav-prev">
					<svg role="img" class="df-icon df-icon--left-arrow">
						<use xlink:href="assets/img/necromancers.svg#left-arrow"/>
					</svg>
				</a>
				<div class="header-team-toggle d-none d-md-block">
					<svg role="img" class="df-icon df-icon--team-shield">
						<use xlink:href="assets/img/necromancers.svg#team-shield"/>
					</svg>
					<span class="header-team-toggle__plus">&nbsp;</span>
					<ul class="header-team-nav js-header-team-nav">

						{{#each content.team.selection-1}}
						<li class="header-team-nav__item header-team-nav__item--{{category}}">
							<figure class="header-team-nav__thumb">
								<img src="{{logo-sm}}" alt="">
							</figure>
							<div class="header-team-nav__holder">
								<h5 class="header-team-nav__subtitle">{{team}}</h5>
								<h4 class="header-team-nav__title">{{{game}}}</h4>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
				<a href="#" class="header-scroll-arrow header-scroll-arrow--right js-team-selection-slider__nav-next">
					<svg role="img" class="df-icon df-icon--right-arrow">
						<use xlink:href="assets/img/necromancers.svg#right-arrow"/>
					</svg>
				</a>
			</div>
		{{/ifpage}}
		{{#ifpage 'team-player-1' 'team-player-2' 'team-player-3' 'team-player-4' 'team-player-5'}}
			<div class="header-player-info-navigation">
				<a href="#" class="disable">
					<svg role="img" class="df-icon df-icon--left-arrow">
						<use xlink:href="assets/img/necromancers.svg#left-arrow"/>
					</svg>
				</a>
				<a href="team-player-2.html">
					<svg role="img" class="df-icon df-icon--right-arrow">
						<use xlink:href="assets/img/necromancers.svg#right-arrow"/>
					</svg>
					<div class="header-player-info-navigation__card">
						<div class="header-player-info-navigation__avatar">
							<img src="/assets/img/samples/header-player-info-navigation-photo.png" alt="">
						</div>
						<div class="header-player-info-navigation__body">
							<div class="header-player-info-navigation__name color-primary">April Summers</div>
							<div class="header-player-info-navigation__nickname">G-Huntress</div>
						</div>
					</div>
				</a>
			</div>
		{{/ifpage}}

		<!-- INICIO REDES SOCIAIS -->
		<div class="header-top-bar-toggle d-md-none hide">
			<svg role="img" class="df-icon df-icon--joystick">
				<use xlink:href="assets/img/necromancers.svg#joystick"/>
			</svg>
			<svg role="img" class="df-icon df-icon--close">
				<use xlink:href="assets/img/necromancers.svg#close"/>
			</svg>
		</div>
		<div class="header-social-toggle d-none d-md-block">
			<svg role="img" class="df-icon df-icon--thumb-up">
				<use xlink:href="assets/img/necromancers.svg#thumb-up"/>
			</svg>
			<span class="header-social-toggle__plus">&nbsp;</span>
			<ul class="social-menu social-menu--header">
				<li><a href="https://discord.gg/FSykf8jRbc"><span class="link-subtitle">Discord</span>ManedWolfs</a></li>
				<li><a href="https://www.instagram.com/man3dw0lf/"><span class="link-subtitle">Instagram</span>man3dw0lf</a></li>
				<li><a href="https://twitter.com/ManedWolfBR"><span class="link-subtitle">Twitter</span>ManedWolfBR</a></li>
				<li><a href="https://www.facebook.com/manedwolf"><span class="link-subtitle">Facebook</span>manedwolf</a></li>
			</ul>
		</div>
		<!-- FIM REDES SOCIAIS -->

		<div class="header-menu-toggle">
			<div class="header-menu-toggle__inner">
				<span>&nbsp;</span>
				<span>&nbsp;</span>
				<span>&nbsp;</span>
			</div>
		</div>
	</div>
	<!-- Header Actions / End -->
</header>
<!-- Header / End -->
